__pycache__/
*.py[cod]
*$py.class
tags
*.so

.Python
.venv/
docker-compose.yml
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
docs/_build/
target/

.ipynb_checkpoints
.idea
*.sqlite3
.DS_Store
*.iml
