[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "django-tasks-scheduler"
packages = [
    { include = "scheduler" },
]
version = "3.0.0"
description = "An async job scheduler for django using redis/valkey brokers"
readme = "README.md"
keywords = ["redis", "valkey", "django", "background-jobs", "job-queue", "task-queue", "redis-queue", "scheduled-jobs"]
authors = [
    "Daniel Moran <daniel@moransoftware.ca>",
]
maintainers = [
    "Daniel Moran <daniel@moransoftware.ca>",
]
license = "MIT"
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Web Environment',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Framework :: Django',
    'Framework :: Django :: 5.0',
    'Framework :: Django :: 5.1',
]
homepage = "https://github.com/django-commons/django-tasks-scheduler"
documentation = "https://django-tasks-scheduler.readthedocs.io/en/latest/"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/django-commons/django-tasks-scheduler/issues"
"Funding" = "https://github.com/sponsors/cunla"

[tool.poetry.dependencies]
python = "^3.10"
django = ">=5"
croniter = ">=2.0"
click = "^8.1"
rq = "^1.16"
pyyaml = { version = "^6.0", optional = true }
valkey = { version = "^6.0.2", optional = true}

[tool.poetry.dev-dependencies]
poetry = "^2.0.1"
black = "^25.1"
coverage = "^7.6"
fakeredis = { version = "^2.21.5", extras = ['lua'] }
Flake8-pyproject = "^1.2"
pyyaml = "^6"
freezegun = "^1.5"

[tool.poetry.extras]
yaml = ["pyyaml"]
valkey = ["valkey"]

[tool.flake8]
max-line-length = 120
exclude = [
    'scheduler/migrations',
    'testproject',
    '.venv',
    '.github',
    '__pycache',
]
include = [
    'scheduler',
]

[tool.black]
color = true
line-length = 120
target-version = ['py310']
include = [
    "scheduler",
    "testproject",
]
exclude = '''
 (
  /(
    | \.git          # root of the project
    | \.github
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | scheduler/migrations
    | scheduler/templates
  )/
  | .*/__pycache__/.*
)
'''