[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "django-tasks-scheduler"
packages = [
    { include = "scheduler" },
]
version = "4.0.0b2"
description = "An async job scheduler for django using redis/valkey brokers"
readme = "README.md"
keywords = ["redis", "valkey", "django", "background-jobs", "job-queue", "task-queue", "redis-queue", "scheduled-jobs"]
authors = [
    "Daniel Moran <daniel@moransoftware.ca>",
]
maintainers = [
    "Daniel Moran <daniel@moransoftware.ca>",
]
license = "MIT"
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Web Environment',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Framework :: Django',
    'Framework :: Django :: 5.0',
    'Framework :: Django :: 5.1',
    'Framework :: Django :: 5.2',
]
homepage = "https://github.com/django-commons/django-tasks-scheduler"
documentation = "https://django-tasks-scheduler.readthedocs.io/en/latest/"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/django-commons/django-tasks-scheduler/issues"
"Funding" = "https://github.com/sponsors/cunla"

[tool.poetry.dependencies]
python = "^3.11"
django = ">=5"
croniter = ">=2.0"
click = "^8.1"
pyyaml = { version = "^6.0", optional = true }
valkey = { version = "^6.0.2", optional = true }
sentry-sdk = { version = "^2.19", optional = true }

[tool.poetry.group.dev.dependencies]
time-machine = "^2.16.0"
poetry = "^2.1.2"
ruff = "^0.11"
coverage = "^7.6"
fakeredis = { version = "^2.21.5", extras = ['lua'] }
pyyaml = "^6"
freezegun = "^1.5"

[tool.poetry.extras]
yaml = ["pyyaml"]
valkey = ["valkey"]
sentry = ["sentry-sdk"]

[tool.ruff]
line-length = 120
exclude = [
    'scheduler/migrations',
    'testproject',
    '.venv',
    '.github',
    '__pycache__',
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
