{% extends "admin/scheduler/scheduler_base.html" %}

{% load static scheduler_tags l10n %}

{% block title %}Workers in {{ queue.name }} {{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url 'queues_home' %}">Queues</a> &rsaquo;
        <a href="{% url 'queue_registry_jobs' queue.name 'queued' %}">Workers for '{{ queue.name }}'</a>
    </div>
{% endblock %}

{% block content_title %}<h1>Workers in {{ queue.name }}</h1>{% endblock %}

{% block content %}

    <div id="content-main">
        <div class="module" id="changelist">
            {% include 'admin/scheduler/workers-list.partial.html' %}
        </div>
    </div>

{% endblock %}
